:root {
    --theme-color: #1d2c53;
    --sidebar-bg-color: #1d2c53;
    --sidebar-select-color: #304476;
    --sidebar-font-color: #67738e;
    --main-bg-color: #f0f0f0;
    --card-color: #ffffff;
}

html {
    font-size: 17px;
}

body {
    color: var(--theme-color);
    height: 100vh;
    font-family: "Lato", sans-serif;
    background-color: var(--main-bg-color);
}

@media (max-width: 360px) {
    #sidebar {
        display: none !important;
    }
    #filter-input {
        width: auto;
        margin-bottom: 0.5rem !important;
    }
}
@media (min-width: 360px) and (max-width: 768px) {
    #filter-input {
        width: 18rem;
        margin-bottom: 0.5rem !important;
    }
}
/* work around to make side-bar full height */
@media (min-width: 576px) {
    #sidebar {
        height: 100vh;
    }
}
